<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/style/admin_css/admin_detail_user.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100&family=Nunito:ital,wght@1,300&family=Open+Sans:wght@300&family=Salsa&display=swap" rel="stylesheet">    
</head>
<body>
    <div class="main-div">
        <div class="up-bar">
            <div class="up-left">
                <img id="logo" src="/images/office.png" width="35px" height="35px"/>
                <form action="/" method="get" id="filter">
                    <button type="submit" formaction="/" id="dash">Dashboard</button>
                    <button type="submit" formaction="/admin_land" id="land">Land</button>
                    <button type="submit" formaction="/admin_User" id="user"><b>User</b></button>
                </form>
            </div>
            <div class="up-right right-box">
                <p class="user-name"><%= locals.user_name %></p>
                <img src="/images/circle-user.png" height="25px" width="25px" id="pic"/>
                <form action="/" method="get" class="logbut">
                    <button type="submit" formaction="/" class="logout">logout</button>
                </form>
            </div>
        </div>

        <div class="title">
            <form action="/admin_user" method="get">
                <button class="goback"><b>< Go Back</b></button>
            </form>
            <h1 class="name"><%= locals.target %>'s Account👤</h1>
        </div>


        <div class="content">
            <div class="left">
                <div class="heading"><h1>Views</h1></div>
                <table class="info">
                    <tr>
                        <th>View history:</th>
                    </tr>
                    <tr>
                        <td>-Sale (<%=locals.view_sale%>)</td>
                    </tr>
                    <tr>
                        <td>-Rent (<%=locals.view_rent%>)</td>
                    </tr>
                    
                </table>
            </div>
            <div class="right">
                <div class="heading"><h1>Land's favorite💘</h1></div>
                <div class="content-list">
                    <%if (locals.lands){%>
                        <% lands.forEach((eachLand)=>{  %>
                            <div class="card">
                                <div class="card-details">
                                    <img src="/images/<%= eachLand.land_image %>" width="100%" >
                                    <p class="text-title"><%= eachLand.land_name %></p>
                                    <p class="text-body">$<%= eachLand.land_price %> (<%= eachLand.land_type %>) - <%= eachLand.land_owner %></p>
                                    
                                </div>
                                <form action="/items/<%= eachLand.land_id %>" method="get"><button class="card-button">More info</button></form>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <p>Home Lander | Database System Project</p>
    </div>
</body>
</html>