<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/style/admin_css/admin_user_page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100&family=Nunito:ital,wght@1,300&family=Open+Sans:wght@300&family=Salsa&display=swap" rel="stylesheet">    
</head>
<body>
    <div class="main-div">
        <div class="up-bar">
            <div class="up-left">
                <img id="logo" src="/images/office.png" width="35px" height="35px"/>
                <form action="/" method="get" id="filter">
                    <button type="submit" formaction="/admin" id="dash">Dashboard</button>
                    <button type="submit" formaction="/admin_land" id="land">Land</button>
                    <button type="submit" formaction="/admin_User" id="user"><b>User</b></button>
                </form>
            </div>
            <div class="up-right right-box">
                <p class="user-name"><%= locals.user_name %></p>
                <img src="/images/circle-user.png" height="25px" width="25px" id="pic"/>
                <form action="/" method="get" class="logbut">
                    <button type="submit" formaction="/" class="logout">logout</button>
                </form>
            </div>
        </div>

        <div class="title">
            <h1>🙍‍♂️Overview Accounts🙍‍♀️</h1>
            <div class="inline"><p >Go to Balcklist Page</p>
            <form action="/admin/Blacklist" method="get" style="float:left" id="blacklist">
                <button class="blacklist-button">Blacklist</button>
            </form>
            </div>
        </div>
        <div class="content">
            <div class="landlordheading">Landlord</div>
            <div class="landlordside">
                <table>
                    <% if(locals.landlords){ %>
                        <% landlords.forEach((eachLandlord)=>{ %>
                            <tr>
                                <td>
                                    <form action="/admin/landlord/detail/<%= eachLandlord.user_id %>" method="get">
                                        <button class="test1"><%= eachLandlord.name %></button>
                                    </form> 
                                    <form action="/admin/ban/<%= eachLandlord.user_id%>" method="post">
                                        <button class="ban-button">Ban</button></form>
                                </td>
                                <td> <form action="/admin/blacklist/<%= eachLandlord.user_id%>" method="post">
                                    <button class="blacklist-button">Blacklist</button>
                                </form></td>
                            </tr>
                        <%}) %>
                    <%}%>
                </table>

            </div>
            <div class="Userheading">User</div>
            <div class="Userside"> 
                <table>
                    <% if(locals.users){ %>
                        <%users.forEach((eachUser)=>{ %>
                            <tr>
                                <td>
                                    <form action="/admin/user/detail/<%= eachUser.user_id%>" method="get">
                                        <button class="test1"><%= eachUser.name %></button>
                                    </form>
                                    <form action="/admin/ban/<%= eachUser.user_id%>" method="post">
                                        <button class="ban-button">Ban</button></form>
                                </td>
                                <td> <form action="/admin/blacklist/<%= eachUser.user_id%>" method="post">
                                    <button class="blacklist-button">Blacklist</button>
                                </form></td>
                            </tr>
                        <%}) %>
                    <%}%>
                </table>
            </div>
        </div>
            
            
        </div>
    </div>

    <div class="footer">
        <p>Home Lander | Database System Project</p>
    </div>
</body>
</html>
