<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Audit Logs</title>
        <link rel="stylesheet" href="/style/governor/style_governor_audit_log.css" />
    </head>
    <body>
        <div class="topnav">
            <div>
            <a href="/Dashboard">Dashboard</a>
            <a class="active" href="/governor/audit">Audit logs</a>
            </div>
            <div class="profile">
                <div class="user"><%= locals.user_name%>&nbsp;&nbsp;<img src="/images/circle-user.png" height="15px" width="15px" /></div>
                <form action="/" method="get" class="logbut">
                    <button type="submit" formaction="/" class="logout">logout</button>
                </form>
            </div>
        </div> 
        <!-- <div class="up-bar">
            <div class="up-left">
                <img id="logo" src="/images/office.png" width="35px" height="35px"/>
                <form action="/" method="get" id="filter">
                    <button type="submit" formaction="/" id="home">Dashboard</button>
                    <button type="submit" formaction="/governor/audit" id="about">Audit logs</button>
                </form>
            </div>
            <div class="up-right">
                <form action="/login" method="get">
                    <button type="submit" formaction="/login" id="login">Login</button>
                    <button type="submit" formaction="/login" id="regis">Register</button>
                </form>
            </div>
        </div> -->
        <div style="margin: 35px;">
        <table>
            <tr>
                <th>Date</th>
                <th>Types</th>
                <th>Price</th>
                <th colspan="2">Status</th>
            </tr>
            
            <% if(locals.lands){%>
                <% lands.forEach((eachLand)=>{%>
                    <tr>
                        <td><%= eachLand.date %></td>
                        <td><%= eachLand.land_type %></td>
                        <td><%= eachLand.land_price %></td>
                        <td style="text-align: center; vertical-align: middle;">
                            <div class="container">
                                <div class="tabs">
                                    <%if(eachLand.checker === false){%>
                                        <form action="/governor/check_true" method="post"><button type="submit" name="check" value="<%= eachLand.land_id %>"><img src="/images/cross.png" width="50px"></button></form>
                                        <p>Uncheck</p>
                                    <%} else {%>
                                        <form action="/governor/check_false" method="post"><button type="submit" name="check" value="<%= eachLand.land_id %>"><img src="/images/tick.png" width="50px"></button></form>
                                        <p>Check</p>
                                    <%}%>
                                </div>
                                
                                <td style="text-align: center; vertical-align: middle;">
                                    <form action="/governor/del_land/<%= eachLand.land_id %>" method="post"><button class="delete">delete</button></form>
                                </td>
                            </div>
                        </td>
                    </tr>
                <%});%>
            <%}%>
           
        </table>
        </div>
    </body>
</html>