<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="/style/governor/style_governor_dashboard.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    </head>
    <div>
        <!-- <div class="main-div"> !-->
        <div class="topnav">
            <div>
            <a class="active" href="/Dashboard">Dashboard</a>
            <a href="/governor/audit">Audit logs</a>
            </div>
            <div class="profile"><%= locals.user_name%>&nbsp;&nbsp;<img src="/images/circle-user.png" height="15px" width="15px" /></div>
        </div> 
            <!-- <div class="up-bar">
                <div class="up-left">
                    <img id="logo" src="/images/office.png" width="35px" height="35px"/>
                    <form action="/" method="get" id="filter">
                        <button type="submit" formaction="/" id="dash">Dashboard</button>
                        <button type="submit" formaction="/admin_land" id="land"><b>Land</b></button>
                        <button type="submit" formaction="/admin_User" id="user">User</button>
                    </form>
                </div>
                <div class="up-right right-box">
                    <p>admin_name</p>
                    <img src="/images/circle-user.png" height="25px" width="25px" />
                </div> -->
            </div>
            <div style="margin: 35px;"> 
                <label>Date: <select><option selected>Daily</option></select></label>
                <label>User types: <select><option selected>All</option></select></label>
            </div>
            <div class="grid_container" style="margin: 35px;">
                <div class="transaction_graph">
                    <h2>Users</h2>
                    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                    <script>
                        
                        
                        // Replace this data with your actual transaction data
                        var data = {
                            "2024-1-28": 1,
                            "2024-1-29": <%=locals.total_user%>
                        };
                
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: Object.keys(data),
                                datasets: [{
                                    label: 'Total Users',
                                    data: Object.values(data),
                                    fill: false,
                                    borderColor: 'rgb(75, 192, 192)',
                                    tension: 0.1
                                }]
                            },
                            options: {
                                scales: {
                                    x: {
                                        type: 'time',
                                        time: {
                                            unit: 'day'
                                        }
                                    }
                                }
                            }
                        });
                    </script>
                </div>
                <div class="user_graph">
                    <h2>Overall Land's Status</h2>
                    <canvas id="myChart_1" style="width:100%;max-width:600px"></canvas>
                    <script>
                        var xValues = ["Sale", "Rent", "Sold",""];
                        var yValues = [<%= locals.sale%>, <%= locals.rent%>, <%= locals.sold%>,0];
                        var barColors = ["red", "green","blue","yellow"];
                        
                        new Chart("myChart_1", {
                            type: "bar",
                            data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                            },
                            options: {
                            legend: {display: false},
                            title: {
                                display: true,
                                text: "Sale / Rent / Soldout"
                            }
                            }
                        });
                        </script>
                </div>
                <div class="daily_transaction">
                    <div class="block">
                        <Div>Daily Total land's Sale</Div>
                        <Div><%= locals.sale%></Div>
                    </div>
                </div>
                <div class="recent_transaction">
                    <div class="block">
                        <section>Total land's Rent</section>
                        <section><%= locals.rent%></section>
                    </div>
                </div>
                <div class="daily_user">
                    <div class="block">
                        <section>Total Soldout Value</section>
                        <section><%= locals.sold%></section>
                    </div>
                </div>
                <div class="total_user">
                    <div class="block">
                        <section>Total Users</section>
                        <section><%= locals.total_user %></section>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </body>
</html>
